[x-cloak] {
    display: none !important;
}

.text-green {
    color: #4eaf6f !important;
}

.text-purple {
    color: #863d63 !important;
}

.text-lightblue {
    color: #3FB3E8 !important;
}

.text-gold {
    color: #86843d !important;
}

.text-red {
    color: #C99289 !important;
}

.text-blue {
    color: #0736a1 !important;
}

.text-softblue {
    color: #6079ca !important;
}

.text-brown {
    color: #864f50 !important;
}

.bg-gold {
    background-color: #86843d !important;
    border: 1px solid #86843d !important;
}

.bg-red {
    background-color: #C99289 !important;
    border: 1px solid #C99289 !important;
}

.bg-white {
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.bg-green {
    background-color: #4eaf6f !important;
    border: 1px solid #4eaf6f !important;
}

.bg-lightgreen {
    background-color: #edf7f2 !important;
    border: 1px solid #edf7f2 !important;
}

.bg-lightpurple {
    background-color: #faf4f8 !important;
    border: 1px solid #faf4f8 !important;
}

.bg-purple {
    background-color: #863d63 !important;
    border: 1px solid #863d63 !important;
}

.bg-lightblue {
    background-color: #3FB3E8 !important;
    border: 1px solid #3FB3E8 !important;
}

.bg-blue {
    background-color: #0736a1 !important;
    border: 1px solid #0736a1 !important;
}

.bg-softblue {
    background-color: #6079ca !important;
    border: 1px solid #6079ca !important;
}

.bg-brown {
    background-color: #864f50 !important;
    border: 1px solid #864f50 !important;
}

.link-text:hover {
    color: white !important;
    background: #4eaf6f !important;
}

.to-the-right {
    margin-left: auto !important;
}

.is-underlined {
    text-decoration: underline !important;
}

.is-not-underlined {
    text-decoration: none !important;
}

.shadow-hover:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02) !important;
}

.btn-purple {
    border: 1px solid #863d63 !important;
    color: #863d63 !important;
}

.btn-lightblue {
    border: 1px solid #3FB3E8 !important;
    color: #3FB3E8 !important;
}

.btn-purple.is-outlined:hover {
    background: #863d63 !important;
    color: white !important;
}

.btn-lightblue.is-outlined:hover {
    background: #3FB3E8 !important;
    color: white !important;
}

.btn-green {
    border: 1px solid #4eaf6f !important;
    color: #4eaf6f !important;
}

.btn-green.is-outlined:hover {
    background: #4eaf6f !important;
    color: white !important;
}

.btn-blue {
    border: 1px solid #3d6386 !important;
    color: #3d6386 !important;
}

.btn-blue.is-outlined:hover {
    background: #3d6386 !important;
    color: white !important;
}

.btn-softblue {
    border: 1px solid #3d6386 !important;
    color: #3d6386 !important;
}

.btn-softblue.is-outlined:hover {
    background: #3d6386 !important;
    color: white !important;
}

.btn-gold {
    border: 1px solid #86843d !important;
    color: #86843d !important;
}

.btn-red {
    border: 1px solid #C99289 !important;
    color: #C99289 !important;
}

.btn-gold.is-outlined:hover {
    background: #86843d !important;
    color: white !important;
}

.btn-red.is-outlined:hover {
    background: #C99289 !important;
    color: white !important;
}

.is-pointer {
    cursor: pointer !important;
}

select,
input,
textarea {
    color: #4eaf6f !important;
    font-weight: 300 !important;
}

.select:after {
    border-color: #4eaf6f !important;
}

.menu-list a.is-active,
.menu-list button.is-active {
    background-color: #edf7f2 !important;
    color: #0736a1 !important;
    border-radius: 8px !important;
    font-weight: bold;
}

nav {
    max-height: 52.5px !important;
}

.is-size-6-5 {
    font-size: 0.875rem !important;
}

.radius-bottom-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.radius-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

#menuLeft {
    height: calc(100vh - 52px);
    height: -webkit-calc(100vh - 52px);
    height: -moz-calc(100vh - 52px);
    height: -o-calc(100vh - 52px);
}

#contentRight {
    min-height: calc(100vh - 52px);
    min-height: -webkit-calc(100vh - 52px);
    min-height: -moz-calc(100vh - 52px);
    min-height: -o-calc(100vh - 52px);
}

@media screen and (min-width: 1024px) {
    #menuLeft {
        position: fixed;
        left: 0;
        right: 0;
        overflow: auto;
    }
    #menuLeft::-webkit-scrollbar-track {
        background: white;
    }
    #contentRight {
        position: absolute;
        right: 0;
        left: 20%;
    }
}

@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 0) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #edf7f2;
    }
    ::-webkit-scrollbar-thumb {
        background: #b1cfbf;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #77aa90;
    }
}

@media screen and not (-webkit-min-device-pixel-ratio: 0) and (min-width: 1024px) {
    /* Firefox Scrollbar */
    .scroller {
        scrollbar-color: #b1cfbf white;
        scrollbar-width: auto;
    }
    html {
        scrollbar-color: #b1cfbf #edf7f2;
        scrollbar-width: auto;
    }
    /* Firefox Scrollbar */
}

.is-green > progress::-webkit-progress-value {
    background-color: #4eaf6f !important;
}

.is-purple > progress::-webkit-progress-value {
    background-color: #863d63 !important;
}

.is-blue > progress::-webkit-progress-value {
    background-color: #3d6386 !important;
}

.is-gold > progress::-webkit-progress-value {
    background-color: #86843d !important;
}

.is-red > progress::-webkit-progress-value {
    background-color: #C99289 !important;
}

.is-lightblue > progress::-webkit-progress-value {
    background-color: #3FB3E8 !important;
}

td {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

[data-title] {
    position: relative;
}

[data-title]:after {
    opacity: 0;
    visibility: hidden;
    content: attr(data-title);
    position: absolute;
    bottom: 25px;
    right: 0%;
    z-index: 99999;
    white-space: nowrap;
    background-color: #edf7f2;
    color: #4eaf6f;
    font-size: small;
    font-weight: 500;
    padding: 7px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
    border-radius: 6px;
}

@media screen and (max-width: 768px) {
    [data-title]:after {
        display: none !important;
    }
}

[data-title]:hover:after {
    opacity: 1;
    visibility: visible;
    transition: all 0.6s ease;
}

.navbar-item[data-title]:after {
    bottom: -20px;
    right: 0;
    padding: 7px;
}

.tabs.is-toggle li:first-child a {
    border-radius: 0 !important;
}

.tabs.is-toggle li:first-child a {
    border-radius: 0 !important;
}

.tabs.is-toggle a {
    border: none !important;
}

.available a {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #4eaf6f;
    z-index: 1;
}

.tabs.is-toggle li.available.is-active a {
    background-color: #4eaf6f;
    border-color: #4eaf6f;
    color: #fafafa;
    z-index: 1;
}

.on-hand a {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #3d6386;
    z-index: 1;
}

.tabs.is-toggle li.on-hand.is-active a {
    background-color: #3d6386;
    border-color: #3d6386;
    color: #fafafa;
    z-index: 1;
}

.wip a {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #863d3e;
    z-index: 1;
}

.tabs.is-toggle li.wip.is-active a {
    background-color: #863d3e;
    border-color: #863d3e;
    color: #fafafa;
    z-index: 1;
}

.reserved a {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #86843d;
    z-index: 1;
}

.tabs.is-toggle li.reserved.is-active a {
    background-color: #86843d;
    border-color: #86843d;
    color: #fafafa;
    z-index: 1;
}

.out-of-stock a {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #863d63;
    z-index: 1;
}

.tabs.is-toggle li.out-of-stock.is-active a {
    background-color: #863d63;
    border-color: #863d63;
    color: #fafafa;
    z-index: 1;
}

.expired a {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #900608;
    z-index: 1;
}

.tabs.is-toggle li.expired.is-active a {
    background-color: #900608;
    border-color: #900608;
    color: #fafafa;
    z-index: 1;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.swal-button--confirm {
    background-color: #6079ca !important;
}

.swal-title {
    color: #6079ca !important;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #edf7f2;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
}

.table-container {
    overflow: none !important;
    overflow-y: none !important;
    max-width: 100%;
}

.is-borderless {
    border: none !important;
}

.is-overflow {
    overflow: auto !important;
}

.notification-box {
    position: absolute;
    top: 100%;
    left: 60%;
    width: 350px;
}

@media screen and (max-width: 768px) {
    .notification-box {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
}

.notification-counter {
    position: absolute;
    top: 5px;
    content: attr(data-notif);
    border-radius: 999px;
    margin-left: 9px;
    min-width: 26px;
    padding: 2px 0;
    font-size: x-small;
}

.general-menu-item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.general-menu-item:hover {
    border: 1px solid #4eaf6f !important;
}

.button.is-focused:not(:active),
.button:focus:not(:active) {
    box-shadow: none !important;
}

.button:focus {
    border-color: none !important;
    color: none !important;
}

.is-transparent-color {
    background-color: transparent !important;
}

.dropdown-item:hover {
    background-color: hsl(0, 0%, 96%) !important;
    cursor: pointer !important;
}

/* Override bootstrap table classes */

.table.table-bordered {
    width: 100% !important;
}

.table.table-bordered td,
.table.table-bordered th {
    border-width: 1px !important;
}

/* Override bootstrap table classes */

/* DataTable Styles */

table.dataTable.no-footer {
    border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #4eaf6f !important;
    border: none !important;
    border-radius: 2px;
    font-size: small !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: none !important;
    background: none !important;
    background-color: #4eaf6f !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none !important;
    background: none !important;
    background-color: #4eaf6f !important;
}

.dataTables_wrapper .dataTables_info {
    font-size: small !important;
    color: #863d63;
    margin-top: 20px !important;
}

.dataTables_wrapper .dataTables_length {
    font-size: small !important;
    color: #4eaf6f !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.dataTables_wrapper .dataTables_filter {
    color: white !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

@media screen and (max-width: 768px) {
    .dataTables_wrapper .dataTables_filter {
        color: white !important;
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

table.display {
    width: 100% !important;
    display: none;
}

@media print {
    table.display {
        width: 100% !important;
        display: table;
    }
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px !important;
}

div.dt-button-collection button.dt-button,
div.dt-button-collection div.dt-button,
div.dt-button-collection a.dt-button {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 4px;
    margin-right: 0;
    background: white !important;
    color: #863d63 !important;
}

div.dt-button-collection button.dt-button.active:not(.disabled) {
    box-shadow: none !important;
    color: #4eaf6f !important;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
    padding-left: 9px;
}

.dataTables_wrapper .dataTables_length {
    font-size: small !important;
    color: #4eaf6f !important;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    margin-right: 5px !important;
}

div.dataTables_wrapper div.dataTables_processing {
    bottom: 60%;
    background: transparent !important;
    z-index: 9999;
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center !important;
    }
}

/* DataTable Styles */

@media screen and (max-width: 768px) {
    .m-lr-0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .m-lr-10 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .m-lr-20 {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .m-lr-30 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    .m-lr-40 {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }
    .m-lr-50 {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
    .m-top-0 {
        margin-top: 0px !important;
    }
    .m-top-10 {
        margin-top: 10px !important;
    }
    .m-top-20 {
        margin-top: 20px !important;
    }
    .m-top-30 {
        margin-top: 30px !important;
    }
    .m-top-40 {
        margin-top: 40px !important;
    }
    .m-top-50 {
        margin-top: 50px !important;
    }
    .m-btm-0 {
        margin-bottom: 0 !important;
    }
    .m-btm-10 {
        margin-bottom: 10px !important;
    }
    .m-btm-20 {
        margin-bottom: 20px !important;
    }
    .m-btm-30 {
        margin-bottom: 30px !important;
    }
    .m-btm-40 {
        margin-bottom: 40px !important;
    }
    .m-btm-50 {
        margin-bottom: 50px !important;
    }
    .p-lr-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .p-lr-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .p-lr-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .p-lr-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .p-lr-40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .p-lr-50 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .p-top-0 {
        padding-top: 0px !important;
    }
    .p-top-10 {
        padding-top: 10px !important;
    }
    .p-top-20 {
        padding-top: 20px !important;
    }
    .p-top-30 {
        padding-top: 30px !important;
    }
    .p-top-40 {
        padding-top: 40px !important;
    }
    .p-top-50 {
        padding-top: 50px !important;
    }
    .p-btm-0 {
        padding-bottom: 0 !important;
    }
    .p-btm-10 {
        padding-bottom: 10px !important;
    }
    .p-btm-20 {
        padding-bottom: 20px !important;
    }
    .p-btm-30 {
        padding-bottom: 30px !important;
    }
    .p-btm-40 {
        padding-bottom: 40px !important;
    }
    .p-btm-50 {
        padding-bottom: 50px !important;
    }
}

/* Summernote styles */

.note-modal-footer {
    height: 80px;
    padding: 30px;
    text-align: center;
}

.note-modal-footer .note-btn {
    float: right;
    background-color: #4eaf6f;
    color: white !important;
    font-weight: 400 !important;
}

.note-modal-title {
    font-size: 20px;
    color: #4eaf6f;
    margin: 0;
    line-height: 1.4;
}

.note-form-label {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #4eaf6f;
    margin-bottom: 10px;
    font-weight: 700;
}

.note-group-image-url {
    display: none !important;
}

.note-form-group {
    padding-bottom: 0px !important;
}

/* Summernote styles */

.swera-demo-font {
    font-family: "Swera Demo", sans-serif;
}

.panel-block {
    display: none;
}
.panel-block.is-active {
    display: block;
}

.step-content {
    display: none; /* Hide all step contents by default */
}
.step-content.is-active {
    display: block !important; /* Show the active step content */
}

.steps:not(.is-hollow) .steps-segment .steps-marker:not(.is-hollow)
{
  background-color: #6079ca;
  color: #ffffff;
}

.steps:not(.is-hollow) .steps-segment.is-active .steps-marker:not(.is-hollow)
{
  background-color: #6079ca;
  color: #ffffff;
}

.steps-segment:after{
    background-color: #6079ca;
}

.is-75x75 {
    width: 75px;
    height: 75px;
}
