.select2-container .select2-selection--single {
    height: auto !important;
    padding: 5.05px 0 !important;
    border: 1px solid #dbdbdb !important;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
    display: none !important;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #dbdbdb !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-left: 2em;
}

.select2-container .select2-dropdown {
    border: 1px solid #dbdbdb !important;
    border-top: 0 !important;
}

.select2-container .select2-dropdown .select2-search {
    margin: 5px;
}

.select2-container .select2-dropdown .select2-search .select2-search__field {
    padding: 10px !important;
    border-radius: 3px !important;
    font-size: 1rem;
    height: 2.25em;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
    border-radius: 3px !important;
}

.select2-container .select2-dropdown .select2-results__options {
    max-height: 200px !important;
}

.select2-container
    .select2-dropdown
    .select2-results__options
    .select2-results__option:not(.select2-results__option--group) {
    padding: 0.37em 0.75em !important;
    font-size: 1rem;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #3d8660;
    font-weight: 300 !important;
}

.select2-results__option.select2-results__option--selectable {
    color: #3d8660 !important;
}

.select2-results__option.select2-results__option--selectable:hover {
    color: #fff !important;
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: white !important;
}

.select2-selection__clear {
    display: none !important;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #3d8660 !important;
}
.select2-search__field:focus-visible {
    outline: #485fc7 !important;
    box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%) !important;
}

.select2-dropdown {
    z-index: 5 !important;
}

.select2-container .select2-selection--multiple {
    height: auto !important;
    padding: 7.05px 0 !important;
    border: 1px solid #dbdbdb !important;
}

.select2-search__field:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #edf7f2;
    border: 1px solid #3d8660;
    font-size: small !important;
    color: #3d8660;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 0 !important;
}

li.select2-results__option.select2-results__option--group {
    padding: 0.37em 0.55em !important;
}

.modal-background {
    background-color: rgba(233, 221, 221, 0.66) !important;
}

.large.modal-close {
    color: #0000;
}
