.container-login{
  width:100vw;
  height:100vh;
  background-color:#e5e0e0;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.login {
  background-color: #ffffff;
  width: 100%;
  height:85vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.login-img img{
  width: 100%;
  object-fit: contain;
  height:100%;
}

.columns {
  display: flex;
  align-items: center;  /* Vertically center */
  justify-content: center;  /* Horizontally center */
  margin: 0px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .login-img{
    display: none
  }
}

.input {
  border-radius: 50px;
}

.button {
  margin-top: 10px;
  margin-bottom: 0px;
  flex: 1;
}

.login-logo {
  margin: auto;
  margin-top: 80px;
  max-height: 200px;
  max-width: 200px;
  display: block;
}

.register-logo {
  margin: auto;
  margin-bottom: 20px;
  max-height: 180px;
  max-width: 180px;
  display: block;
}

.title {
  font-size: 20px;
  font-weight: 400; /* Use numeric value for font weight */
  margin: 30px;
  background-color: #fff8f8; /* Light gray background */
  padding: 10px 25px; /* Padding for spacing */
  border-radius: 5px; /* Rounded corners */
  border-left: 2px solid #3952ce;
  border-right: 2px solid #3952ce;
  display: inline-block;
}